@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script&family=Roboto:wght@100&family=Saira+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script&family=Roboto:wght@100&family=Saira+Condensed:wght@300&display=swap');

:root {
    --font-family: 'Bebas Neue', sans-serif;
    --font-family-second: 'Dancing Script', cursive;
    --font-family: 'Roboto', sans-serif;
    --font-family-main: 'Saira Condensed', sans-serif;
    --main-color: #ad8201;
    --opacity-value: 0.9;
    --background-color: #25574C;
    --color-white: #ffffff;
    --color-black: #000000;
    --nav-line-height: 2px;
    --pros-padding: 62px;
    --reviews-arrows-pad: 300px;
    --popular-arrows-x: -6vw;
    --smile-p-margin: 20px;

    --faq-pad-inner: 8vw;
    --faq-pad-outer: 7vw;
}

/* General Styles  */

/**--- Base ---**/

* {
    margin: 0;
    padding: 0;
}

/* body {
    font-family: var(--font-family);
    font-size: 16px;
    line-height: 24px;
    color: var(--color-white);
    background-color: var(--color-black);
} */

.logo {
    height: auto;
    border: #ad8201 solid 2px;
    /* maintain aspect ratio */
}


.hero h1 {
    font-family: 'Dancing Script', sans-serif;
    font-size: 72px;
    color: var(--color-black);
}

.hero p {
    font-family: 'Saira', sans-serif;
    font-size: 24px;
    color: var(--color-black);
}

.main h1 {
    font-family: 'Dancing Script', sans-serif;
    font-size: 72px;
    color: var(--color-white);
}

.main h4 {
    font-family: 'Saira', sans-serif;
    font-size: 24px;
    color: var(--color-white);
    font-weight: bold;
}

.services h4 {
    font-family: 'Saira', sans-serif;
    font-size: 24px;
    color: var(--main-color);
    font-weight: bold;
}

p {
    font-family: 'Saira', sans-serif;
    font-size: 24px;
    color: var(--color-white);
}

.vision-vault h4 {
    font-family: 'Saira', sans-serif;
    font-size: 24px;
    color: var(--color-white);
    font-weight: bold;
}

.vision-vault .rwe-list-item__link {
    font-family: 'Saira', sans-serif;
    font-size: 24px;
    color: var(--color-black);
    font-weight: bold;
    text-decoration: none;
    border: #ad8201 solid 2px;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.vision-vault a:hover {
    color: var(--main-color) !important;
    text-decoration: none;
}


.about {
    background-color: var(--color-black);
    color: var(--color-white);
    padding-top: 100px;
    padding-bottom: 100px;
}

.about p {
    font-family: 'Saira', sans-serif;
    font-size: 24px;
    color: var(--color-white);
    font-weight: extra-light;
}

.services {
    background-color: var(--color-black);
    color: var(--color-white);
    padding-top: 100px;
    padding-bottom: 100px;
}

.services p {
    font-family: 'Saira', sans-serif;
    font-size: 24px;
    color: var(--color-white);
}

.faqs p {
    font-family: 'Saira', sans-serif;
    font-size: 24px;
    color: var(--color-white);
}

.contact p {
    font-family: 'Saira', sans-serif;
    font-size: 24px;
    color: var(--color-white);
}

.section-header h2 {
    font-weight: 300;
}

.section-header span {
    font-weight: bold;
}

.btn:hover,
.btn:active {
    opacity: var(--opacity-value);
}

/* Header / Hero Styles */

.header {
    background-color: var(--background-color);
    max-width: 100%;
    height: auto;
}

.header .navbar-line1,
.header .navbar-line2,
.header .navbar-line3 {
    background-color: var(--color-black);
    color: var(--color-black);
    height: 2px;
    display: block;
    margin: 2px 0;
    /* Add some vertical margin */
}

.header .navbar-line1 {
    width: 20px;
}

.header .navbar-line2 {
    width: 13px;
}

.header .navbar-line3 {
    width: 18px;
}

.header .navbar-toggler {
    border: none;
    background-color: transparent;
    outline: none;
}

.header .nav-link {
    font-size: 12px;
}

.header .nav-link:hover {
    color: var(--main-color) !important;
}

.header .nav-link:after {
    content: "";
    display: block;
    background-color: var(--color-black);
    width: 0;
    height: 2px;
    top: 4px;
    position: relative;
    transition: 180ms;
}

.btn.btn-smile {
    background-color: var(--main-color);
    width: 162px;
    height: 44px;
    font-size: 14px;
    border-radius: 22px;
    filter: drop-shadow(0px 2px 20px rgba(0, 0, 0, 0.5));
}

/* REVIEWS */

.reviews {
    /* height: 392px; */
    background-color: var(--main-color);
}

.reviews .carousel-item img {
    width: 160px;
    border-radius: 75px;
    margin: 10px;
}

.review-text {
    padding: 10px 50px 20px;
}

.reviews .row [class*="col"] {
    padding-left: 0;
    padding-right: 0;
}

.review-text p {
    font-size: 22px;
    line-height: 34px;
    margin-bottom: 22px;
    position: relative;
}

.review-text p::before {
    content: '“';
    /* Opening review */
    font-size: 40px;
    /* Adjust the size as needed */
    position: absolute;
    left: -20px;
    /* Adjust the position as needed */
    top: 0;
}

.review-text p::after {
    content: '”';
    /* Closing review */
    font-size: 40px;
    /* Adjust the size as needed */
    position: absolute;
}

.review-text h4 {
    font-size: 22px;
}

.review-text span {
    font-style: italic;
    font-size: 22px;
}

.carousel-control-prev img,
.carousel-control-next img {
    width: 30px;
}

.reviews .carousel-control-prev {
    left: -60px;
    /* Adjust as needed */
}

.reviews .carousel-control-next {
    right: -60px;
    /* Adjust as needed */
}


.reviews .carousel-control-prev.arrow-left {
    padding-right: 300px;
}

.reviews .carousel-control-next.arrow-right {
    padding-left: 300px;
}

.loader {
    border: 10px solid #ffffff;
    border-top: 10px solid #255742;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
    margin: auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 768px) {
    .reviews .carousel-control-prev {
        left: 10px;
        /* Adjust as needed */
    }

    .reviews .carousel-control-next {
        right: 10px;
        /* Adjust as needed */
    }

    .carousel-control-prev img,
    .carousel-control-next img {
        width: 20px;
    }
}


@media (max-width: 768px) {
    .review-text p {
        font-size: 18px;
        line-height: 28px;
        padding: 10px 50px 20px;
    }

    .review-text h4,
    .review-text span {
        font-size: 18px;
    }
}

@media (max-width: 768px) {
    .reviews .carousel-item img {
        width: 120px;
        margin: 5px;
    }
}

@media (max-width: 768px) {
    .review-text p::before {
        left: -15px;
        /* Adjust as needed */
        font-size: 30px;
        /* Adjust as needed */
    }

    .review-text p::after {
        right: -15px;
        /* Adjust as needed */
        font-size: 30px;
        /* Adjust as needed */
    }
}




/* FAQS */


.faqs {
    background-color: var(--color-black);
    padding-top: 100px;
    padding-bottom: 100px;
}

.faqs h1 {
    font-family: 'Dancing Script', sans-serif;
    font-size: 100px;
    color: var(--color-white);
}

.faqs h4 {
    font-family: 'Saira', sans-serif;
    font-size: 48px;
    color: var(--color-white);
    font-weight: bold;
}

.faqs p {
    font-family: 'Saira', sans-serif;
    font-size: 24px;
    color: var(--color-white);
}

.faqs .container {
    padding: 0;
    text-align: center;
}

.faqs .row {
    padding: 0;
    justify-content: center;
}

.faqs .footer {
    padding: 0;
    align-self: flex-end;
}

/* .faqs .col-md-6 {
    padding: 0;
} */

/* CONTACT NEXT STEPS */

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-black);
    color: var(--color-white);
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: center;
    align-items: center;
}

.contact-btn {
    font-size: 19px;
    width: 100%;
    margin-top: 25px;
    border: none;
    padding: 12px 20px;
    background-color: var(--main-color);
    color: var(--color-black);
    border-radius: 4px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    border-bottom: 3px solid #cca01d;
}

.contact-btn:hover {
    background-color: var(--color-black);
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}

.contact-btn:active {
    background-color: var(--color-black);
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}

.contact-form {
    width: 100%;
    max-width: 600px;
    border: none;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    text-align: left;
    /* Change this line */
    font-size: 25px;
    margin: 0 auto;
    /* Center the entire form on the page */
}

.form-group label {
    width: 80%;
    /* or any desired width */
    white-space: normal;
}

.custom-checkbox .form-check-input {
    display: none;
}

.custom-checkbox .form-check-label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    font-size: 22px;
    line-height: 27px;
    color: var(--color-white);
    font-weight: 300;
    width: 100%;
    /* this will use the full width available */
    white-space: normal;
    /* this will allow the text to wrap to the next line */
}

.custom-checkbox .form-check-label:before,
.custom-checkbox .form-check-label:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border: 2px solid #fff;
    /* Border color */
    background-color: transparent;
}

.custom-checkbox .form-check-input:checked+.form-check-label:after {
    background-color: #ff9900;
    /* Checked background color */
}

.custom-checkbox .form-check-label:after {
    left: 4px;
    top: 4px;
    width: 12px;
    height: 12px;
    display: none;
}

.custom-checkbox .form-check-input:checked+.form-check-label:after {
    display: block;
}


.disclaimer {
    font-size: 20px !important;
    color: var(--color-white);
    margin-top: 20px;
}

@media (max-width: 768px) {
    .custom-checkbox .form-check-label {
        font-size: 14px;
        /* You can adjust this value as needed */
    }

    .form-check-input {
        width: 16px;
        height: 16px;
    }

    .form-group {
        padding: 10px;
        /* Adjust as needed */
    }

    .custom-checkbox .form-check-label {
        padding-left: 40px;
        /* Adjust to align checkboxes and labels */
    }

    .contact-form {
        padding: 20px;
        /* Add padding around the entire form if needed */
    }
}




/* ====================================
=====================================*/
/* VINTAGE VAULT */
/* ====================================
=====================================*/

/* HEADER SECTION */

.vision-vault {
    background-color: var(--color-black);
    color: var(--color-white);
    padding-top: 100px;
    padding-bottom: 100px;
}

.visionVault-header {
    background-size: cover;
    background-position-y: -100px;
    background-color: var(--background-color);
}

.vision h1 {
    font-family: 'Dancing Script', sans-serif;
    font-size: 72px;
    color: var(--main-color);
}

/* categories */

/* .rwe-list-item__link {
    display: block;
    text-decoration: none;
    color: #333;
} */

.rwe-list-item__image img {
    width: 100%;
    height: auto;
    display: block;
    align-items: center;
}

.rwe-list-item__title {
    text-align: center;
    margin-top: 10px;
}

.content {
    display: none;
    /* Initially hidden */
}

/* .rwe-list-item__link:hover .content {
    display: block;
    /* Show when hovered */

.categories {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0 20px 0;
    padding: 10px 10px 10px 10px;
}

.pg-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 10px 10px 10px;
    align-items: center;
    margin: 20px 0 20px 0;
}

/* Style for the categories section */
/* .categories {
    padding: 50px 0;
    text-align: center;
} */

/* Style for the category links */
/* .category-link {
    display: block;
    text-decoration: none;
    color: #333;
    margin-bottom: 20px;
    transition: transform 0.3s, box-shadow 0.3s;
} */

/* .category-link img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
} */

/* .category-link p {
    margin-top: 10px;
    font-weight: bold;
    font-size: 35px;
    font-family: var(--font-family-second);
    color: var(--main-color);
} */

/* .category-link:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
} */

/* .category-link:hover img {
    transform: scale(1.05);
} */

/* Styling for the subcategories section */
/* .subcategories {
    margin: 20px 0;
    padding: 20px;
    background-color: var(--background-color);
} */

/* Styling for the subcategory heading */
/* .subcategory-heading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
} */

/* Styling for the subcategory links */
/* .subcategory-link {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: background-color 0.3s ease;
} */

/* .subcategory-link:hover {
    background-color: #f0f0f0;
} */

/* Footer  */

.footer {
    background-color: var(--background-color);
    height: 249px;
}

.footer .container {
    height: 100%;
}

.footer .row {
    height: 100%;
}

.footer .footer-item {
    padding: 0;
}

.footer .social-item {
    font-size: 30px;
}

.footer .social-item a {
    color: var(--color-white);
    text-decoration: none;
}

.footer .twitter-icon {
    padding: 0 20px;
}

.footer .trademark {
    padding-bottom: 39px;
}