@font-face {
    font-family: 'Dancing Script', sans-serif;
    src: url(fonts/DancingScript-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Saira', sans-serif;
    src: url(fonts/Saira-Regular.ttf) format('truetype');
}

:root {
    --main-color: #B38741;
    --opacity-value: 0.9;
    --background-color: #255742;
    --color-white: #ffffff;
    --nav-line-height: 2px;
    --pros-padding: 62px;
    --quotes-arrows-pad: 300px;
    --popular-arrows-x: -6vw;
    --smile-p-margin: 20px;

    --faq-pad-inner: 8vw;
    --faq-pad-outer: 7vw;
}

/* General Styles  */

/**--- Base ---**/

* {
	margin: 0;
	padding: 0;
}

.logo {
    height: auto; /* maintain aspect ratio */
}


.hero h1 {
    font-family: 'Dancing Script', sans-serif;
    font-size: 72px;
    color: var(--main-color);
}

.main h1 {
    font-family: 'Dancing Script', sans-serif;
    font-size: 72px;
    color: black
}

.main h4 {
    font-family: 'Saira', sans-serif;
    font-size: 24px;
    color: black;
    font-weight: bold;
}

p {
    font-family: 'Saira', sans-serif;
    font-size: 24px;
    color: var(--main-color);
}

.about p {
    font-family: 'Saira', sans-serif;
    font-size: 24px;
    color: black;
    font-weight: extra-light;
}

.services p {
    font-family: 'Saira', sans-serif;
    font-size: 24px;
    color: black;
}

.section-header h2 {
    font-weight: 300;
}

.section-header span {
    font-weight: bold;
}

.btn:hover,
.btn:active {
    opacity: var(--opacity-value);
}

/* Header / Hero Styles */

.header {
    background-color: var(--background-color);
    max-width: 100%;
    height: auto;
}

.header .navbar-line1,
.header .navbar-line2,
.header .navbar-line3 {
    background-color: var(--color-white);
    height: var(--nav-line-height);
    display: block;
    margin: 2px 0; /* Add some vertical margin */
}

.header .navbar-line1 { width: 20px; }
.header .navbar-line2 { width: 13px; }
.header .navbar-line3 { width: 18px; }

.header .navbar-toggler {
    border: none;
    background-color: transparent;
    outline: none;
}

.header .nav-link {
    font-size: 12px;
}

.header .nav-link:hover {
    color: var(--main-color) !important;
}

.header .nav-link:after {
    content: "";
    display: block;
    background-color: var(--color-white);
    width: 0;
    height: 2px;
    top: 4px;
    position: relative;
    transition: 180ms;
}

.btn.btn-smile {
    background-color: var(--main-color);
    width: 162px;
    height: 44px;
    font-size: 14px;
    border-radius: 22px;
    filter: drop-shadow(0px 2px 20px rgba(0, 0, 0, 0.5));
}

/* ====================================
=====================================*/
/* VINTAGE VAULT */
/* ====================================
=====================================*/

/* HEADER SECTION */

.vintageVault-header {
    background-size: cover;
    background-position-y: -100px;
}



/* IMAGES */

/* Reduce the margin between columns to make images touch */
.row {
    margin: -10px; /* Adjust as needed */
}

  /* Style for each image */
.col-md-4 {
    padding: 10px; /* Add some padding around each image */
}

  /* Increase image size */
.img-fluid {
    width: 100%;
    height: auto;
    max-height: 400px; /* Adjust the height as needed */
    object-fit: cover; /* Maintain image aspect ratio while filling container */
}

.main-content {
    position: relative;
    z-index: 2;
    background-color: #f8f9fa;
    padding-top: 60px; /* Adjust as needed to prevent overlap with header */
}

/* Add this CSS to your stylesheet */
.img-overlap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0;
    padding: 0;
}
