@font-face {
    font-family: 'Dancing Script', sans-serif;
    src: url(fonts/DancingScript-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Saira', sans-serif;
    src: url(fonts/Saira-Regular.ttf) format('truetype');
}


:root {
    --main-color: #B38741;
    --opacity-value: 0.9;
    --background-color: #255742;
    --color-white: #ffffff;
    --nav-line-height: 2px;
    --pros-padding: 62px;
    --reviews-arrows-pad: 300px;
    --popular-arrows-x: -6vw;
    --smile-p-margin: 20px;

    --faq-pad-inner: 8vw;
    --faq-pad-outer: 7vw;
}

/* General Styles  */

/**--- Base ---**/

* {
    margin: 0;
    padding: 0;
}

.logo {
    height: auto;
    /* maintain aspect ratio */
}


.hero h1 {
    font-family: 'Dancing Script', sans-serif;
    font-size: 72px;
    color: var(--main-color);
}

.main h1 {
    font-family: 'Dancing Script', sans-serif;
    font-size: 72px;
    color: black
}

.main h4 {
    font-family: 'Saira', sans-serif;
    font-size: 24px;
    color: black;
    font-weight: bold;
}

p {
    font-family: 'Saira', sans-serif;
    font-size: 24px;
    color: var(--main-color);
}

.about p {
    font-family: 'Saira', sans-serif;
    font-size: 24px;
    color: black;
    font-weight: extra-light;
}

.services p {
    font-family: 'Saira', sans-serif;
    font-size: 24px;
    color: black;
}

.faqs p {
    font-family: 'Saira', sans-serif;
    font-size: 24px;
    color: black;
}

.contact p {
    font-family: 'Saira', sans-serif;
    font-size: 24px;
    color: black;
}

.section-header h2 {
    font-weight: 300;
}

.section-header span {
    font-weight: bold;
}

.btn:hover,
.btn:active {
    opacity: var(--opacity-value);
}

/* Header / Hero Styles */

.header {
    background-color: var(--background-color);
    max-width: 100%;
    height: auto;
}

.header .navbar-line1,
.header .navbar-line2,
.header .navbar-line3 {
    background-color: var(--color-white);
    height: var(--nav-line-height);
    display: block;
    margin: 2px 0;
    /* Add some vertical margin */
}

.header .navbar-line1 {
    width: 20px;
}

.header .navbar-line2 {
    width: 13px;
}

.header .navbar-line3 {
    width: 18px;
}

.header .navbar-toggler {
    border: none;
    background-color: transparent;
    outline: none;
}

.header .nav-link {
    font-size: 12px;
}

.header .nav-link:hover {
    color: var(--main-color) !important;
}

.header .nav-link:after {
    content: "";
    display: block;
    background-color: var(--color-white);
    width: 0;
    height: 2px;
    top: 4px;
    position: relative;
    transition: 180ms;
}

.btn.btn-smile {
    background-color: var(--main-color);
    width: 162px;
    height: 44px;
    font-size: 14px;
    border-radius: 22px;
    filter: drop-shadow(0px 2px 20px rgba(0, 0, 0, 0.5));
}

<<<<<<< HEAD
/* ====================================
=====================================*/
/* VINTAGE VAULT */
/* ====================================
=====================================*/

/* HEADER SECTION */

.vintageVault-header {
    background-size: cover;
    background-position-y: -100px;
}



/* IMAGES */

/* Reduce the margin between columns to make images touch */
.row {
    margin: -10px; /* Adjust as needed */
}

  /* Style for each image */
.col-md-4 {
    padding: 10px; /* Add some padding around each image */
}

  /* Increase image size */
.img-fluid {
    width: 100%;
    height: auto;
    max-height: 400px; /* Adjust the height as needed */
    object-fit: cover; /* Maintain image aspect ratio while filling container */
}
=======
/* REVIEWS */

.reviews {
    /* height: 392px; */
    background-color: var(--main-color);
}

.reviews .carousel-item img {
    width: 160px;
    border-radius: 75px;
    margin: 100px;
}

.review-text {
    padding-left: 53px;
}

.reviews .row [class*="col"] {
    padding-left: 0;
    padding-right: 0;
}

.review-text p {
    font-size: 22px;
    line-height: 34px;
    margin-bottom: 22px;
    position: relative;
}

.review-text p::before {
    content: '“';
    /* Opening quote */
    font-size: 40px;
    /* Adjust the size as needed */
    position: absolute;
    left: -20px;
    /* Adjust the position as needed */
    top: 0;
}

.review-text p::after {
    content: '”';
    /* Closing quote */
    font-size: 40px;
    /* Adjust the size as needed */
    position: absolute;
}

.review-text h4 {
    font-size: 22px;
}

.review-text span {
    font-style: italic;
    font-size: 22px;
}

.carousel-control-prev img,
.carousel-control-next img {
    width: 40px;
}

.reviews .carousel-control-prev {
    left: -60px;
    /* Adjust as needed */
}

.reviews .carousel-control-next {
    right: -60px;
    /* Adjust as needed */
}


.reviews .carousel-control-prev.arrow-left {
    padding-right: 400px;
}

.reviews .carousel-control-next.arrow-right {
    padding-left: 400px;
}

.loader {
    border: 10px solid #ffffff;
    border-top: 10px solid #255742;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
    margin: auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* FAQS */

.faqs {
    background-color: var(--main-color);
    padding-top: 100px;
    padding-bottom: 100px;
}

/* .faqs .accordion-item {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--color-white);
    padding: 0;
} */

/* CONTACT NEXT STEPS */

.contact {
    background-color: var(--color-white);
    padding-top: 100px;
    padding-bottom: 100px;
}

/* Footer  */

.footer {
    background-color: var(--background-color);
    height: 249px;
}

.footer .container {
    height: 100%;
}

.footer .row {
    height: 100%;
}

.footer .footer-item {
    padding: 0;
}

.footer .social-item {
    font-size: 30px;
}

.footer .social-item a {
    color: var(--color-white);
    text-decoration: none;
}

.footer .twitter-icon {
    padding: 0 20px;
}

.footer .trademark {
    padding-bottom: 39px;
}
>>>>>>> main
